version: 2.1

orbs:
  kubernetes: circleci/kubernetes@0.11.0
  gcp-gcr: circleci/gcp-gcr@0.7.1
  aws-ecr: circleci/aws-ecr@6.8.2
  gcp-gke: circleci/gcp-gke@1.0.4
  aws-eks: circleci/aws-eks@0.2.7
  win: circleci/windows@2.2.0 

jobs:
  build:
    parameters:
      version: 
        type: string
    docker:
      - image: circleci/golang:<< parameters.version >>
    steps:
      - restore_cache:
          keys:
            - go-mod-v1-{{ checksum "go.sum" }}
      - checkout
      - run: go get -v -t -d ./...
      - run: mkdir -p workspace/<< parameters.version >>
      - run: go test -c -o workspace/<< parameters.version >>/test
      - run: CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -o workspace/<< parameters.version >>/circleci
      - run: cp -r templates workspace/<< parameters.version >>/
      - save_cache:
          key: go-mod-v1-{{ checksum "go.sum" }}
          paths:
            - "/go/pkg/mod"
      - persist_to_workspace:
          root: workspace
          paths:
            - << parameters.version >>/test
            - << parameters.version >>/circleci
            - << parameters.version >>/templates
  build-windows:
    executor:
      name: win/default 
      size: "medium"
    steps:
      - checkout
      - run:
         command: go build -o circleci
         shell: bash --login -eo pipefail
      - store_artifacts:
          path: circleci
          destination: circleci
  test:
    parameters:
      version: 
        type: string
    docker:
      - image: chromedp/headless-shell:latest
    resource_class: large
    working_directory: /go/src/github.com/mentat/circle-demo-go
    steps:
      - run: apt-get update && apt-get -y install ca-certificates
      - attach_workspace:
          at: /tmp/workspace
      - run: cd /tmp/workspace/<< parameters.version >> && ./test
  security:
    docker:
      - image: chromedp/headless-shell:latest
    working_directory: /go/src/github.com/mentat/circle-demo-go
    steps:
      - run: apt-get update && apt-get -y install ca-certificates
      - attach_workspace:
          at: /tmp/workspace
      - run: cd /tmp/workspace/<< parameters.version >> && ./test
  create-eks-deployment:
    executor: aws-eks/python3
    parameters:
      tag:
        description: |
          Tag to use for image.
        type: string
      cluster-name:
        description: |
          Name of the EKS cluster
        type: string
      namespace:
        description: |
          The deployment namespace.
        type: string
    steps:
      - checkout
      - run: sed 's/{{TAG}}/<< parameters.tag >>/g' k8s/deployment-eks.yml > k8s/deployment.yml
      - aws-eks/update-kubeconfig-with-authenticator:
          cluster-name: << parameters.cluster-name >>
          aws-region: "${AWS_REGION}"
          install-kubectl: true
      - kubernetes/create-or-update-resource:
          get-rollout-status: true
          namespace: << parameters.namespace >>
          resource-file-path: k8s/deployment.yml
          resource-name: deployment/demo-app
  create-gke-deployment:
    executor: gcp-gcr/default
    parameters:
      tag:
        description: |
          Tag to use for image.
        type: string
      cluster-name:
        description: |
          Name of the GKE cluster
        type: string
      namespace:
        description: |
          The deployment namespace.
        type: string
    steps:
      - checkout
      - run: sed 's/{{TAG}}/<< parameters.tag >>/g' k8s/deployment-gke.yml > k8s/deployment.yml
      - gcp-gcr/gcr-auth
      - gcp-gke/update-kubeconfig-with-credentials:
          cluster: << parameters.cluster-name >>
          install-kubectl: true
      - kubernetes/create-or-update-resource:
          get-rollout-status: true
          namespace: << parameters.namespace >>
          resource-file-path: k8s/deployment.yml
          resource-name: deployment/demo-app
  gcr-build-and-push:
    executor: gcp-gcr/default
    parameters:
      tag:
        description: |
          Tag to use for image.
        type: string
    steps:
      - checkout
      - attach_workspace:
          at: /home/circleci/project
      - gcp-gcr/gcr-auth
      - gcp-gcr/build-image:
          image: demo-app
          tag: << parameters.tag >>
          registry-url: gcr.io
      - gcp-gcr/push-image:
          tag: << parameters.tag >>
          image: demo-app
          registry-url: gcr.io
workflows:
  version: 2
  production_flow:
    jobs:
      - build:
          filters:
            branches:
              only: /^master$/
          matrix:
            parameters:
              version: ["1.11", "1.12", "1.13", "1.14"]
      - test:
          filters:
            branches:
              only: /^master$/
          matrix:
            parameters:
              version: ["1.11", "1.12", "1.13"]
          requires:
            - build
      - aws-ecr/build-and-push-image:
          filters:
            branches:
              only: /^master$/
          attach-workspace: true
          context: jlCloudSecrets
          repo: "${AWS_RESOURCE_NAME_PREFIX}"
          tag: "latest"
          requires:
            - test
      - gcr-build-and-push:
          filters:
            branches:
              only: /^master$/
          context: jlCloudSecrets
          tag: "latest"
          requires:
            - test
      - create-gke-deployment:
          filters:
            branches:
              only: /^master$/
          type: approval
          namespace: ""
          tag: "latest"	
          context: jlCloudSecrets
          cluster-name: demo-cluster
          requires: 
            - gcr-build-and-push
      - create-eks-deployment:
          filters:
            branches:
              only: /^master$/
          type: approval
          namespace: ""
          tag: "latest"
          context: jlCloudSecrets
          cluster-name: jlovelace-demo-k8s
          requires:
            - aws-ecr/build-and-push-image
  feature_branch_flow:
    jobs:
      - build:
          filters:
            branches:
              ignore: /^master$/
          matrix:
            parameters:
              version: ["1.13"]
      - test:
          filters:
            branches:
              ignore: /^master$/
          matrix:
            parameters:
              version: ["1.13"]
          requires:
            - build
      - aws-ecr/build-and-push-image:
          filters:
            branches:
              ignore: /^master$/
          attach-workspace: true
          context: jlCloudSecrets
          repo: "${AWS_RESOURCE_NAME_PREFIX}"
          tag: "${CIRCLE_BRANCH}"
          requires:
            - test
      - gcr-build-and-push:
          filters:
            branches:
              ignore: /^master$/
          context: jlCloudSecrets
          tag: "${CIRCLE_BRANCH}"
          requires:
            - test
      - create-gke-deployment:
          filters:
            branches:
              ignore: /^master$/
          type: approval
          context: jlCloudSecrets
          cluster-name: demo-cluster	
          namespace: "${CIRCLE_BRANCH}"
          tag: "${CIRCLE_BRANCH}"
          requires: 
            - gcr-build-and-push
      - create-eks-deployment:
          filters:
            branches:
              ignore: /^master$/
          type: approval
          namespace: "${CIRCLE_BRANCH}"
          tag: "${CIRCLE_BRANCH}"
          context: jlCloudSecrets
          cluster-name: jlovelace-demo-k8s
          requires:
            - aws-ecr/build-and-push-image

