version: 2
jobs:
  test:
    docker:
      - image: circleci/golang:1.11
    working_directory: /go/src/github.com/mentat/circle-ci-fun
    steps:
      - checkout
      - run: go get -v -t -d ./...
      - run: go test -v ./...
      - run: mkdir -p workspace
      - run: go test -c -o workspace/test
      - run: go build
      - persist_to_workspace:
          root: workspace
          paths:
            - testbuild
  test_on_chrome:
    docker:
      - image: chromedp/headless-shell:latest
    working_directory: /go/src/github.com/mentat/circle-ci-fun
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run: /tmp/workspace/test
  deploy:
    docker:
      - image: google/cloud-sdk
    steps:
      - checkout
      - run: |
          echo $GCLOUD_SERVICE_KEY | gcloud auth activate-service-account --key-file=-
          gcloud --quiet config set project ${GOOGLE_PROJECT_ID}
          gcloud app deploy --promote app.yaml
workflows:
  version: 2
  test_and_deploy:
    jobs:
      - test
      - test_on_chrome
      - deploy