version: 2.1
jobs:
  build:
    parameters:
      version: 
        type: string
    docker:
      - image: circleci/golang:<< parameters.version >>
    working_directory: /go/src/github.com/mentat/circle-ci-fun
    steps:
      - checkout
      - run: go get -v -t -d ./...
      - run: mkdir -p workspace/<< parameters.version >>
      - run: go test -c -o workspace/<< parameters.version >>/test
      - run: go build -o workspace/<< parameters.version >>/circleci
      - run: cp -r templates workspace/<< parameters.version >>/
      - persist_to_workspace:
          root: workspace
          paths:
            - test
            - circleci
            - templates
  build-windows:
    executor:
      name: win/default 
      size: "medium"
    steps:
      - checkout
      - run:
         command: go build -o circleci
         shell: bash --login -eo pipefail
      - store_artifacts:
          path: circleci
          destination: circleci
  test:
    parameters:
      version: 
        type: string
    docker:
      - image: chromedp/headless-shell:latest
    working_directory: /go/src/github.com/mentat/circle-ci-fun
    steps:
      - run: apt-get update && apt-get -y install ca-certificates
      - attach_workspace:
          at: /tmp/workspace
      - run: cd /tmp/workspace && ./test<< parameters.version >>
  deploy:
    docker:
      - image: google/cloud-sdk
    steps:
      - checkout
      - run: |
          echo $GCLOUD_SERVICE_KEY | gcloud auth activate-service-account --key-file=-
          gcloud --quiet config set project ${GOOGLE_PROJECT_ID}
          gcloud app deploy --promote app.yaml
workflows:
  version: 2
  test_and_deploy:
    jobs:
      - build:
          matrix:
            parameters:
              version: ["1.11", "1.12", "1.13"]
      - test:
          matrix:
            parameters:
              version: ["1.11", "1.12", "1.13"]
          requires:
          - build
      - deploy:
          requires:
          - test
