version: 2.1

orbs:
  kubernetes: circleci/kubernetes@0.11.0
  gcp-gcr: circleci/gcp-gcr@0.7.1
  aws-ecr: circleci/aws-ecr@6.8.2
  gcp-gke: circleci/gcp-gke@1.0.4
  aws-eks: circleci/aws-eks@0.2.7
  digitalocean: digitalocean/cli@0.1.1
  docker: circleci/docker@1.0.1
  win: circleci/windows@2.2.0 

jobs:
  build:
    parameters:
      gover: 
        description: The version of the Go compiler to use.
        type: string
    docker:
      - image: circleci/golang:<< parameters.gover >>
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-v1-{{ checksum "go.sum" }}
      - run: mkdir -p workspace/<< parameters.gover >>
      - run: go test -c -o workspace/<< parameters.gover >>/test
      - run: CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -o workspace/<< parameters.gover >>/circleci
      - run: cp -r templates workspace/<< parameters.gover >>/
      - save_cache:
          key: go-mod-v1-{{ checksum "go.sum" }}
          paths:
            - "/go/pkg/mod"
      - persist_to_workspace:
          root: workspace
          paths:
            - << parameters.gover >>/test
            - << parameters.gover >>/circleci
            - << parameters.gover >>/templates
  build-windows:
    executor:
      name: win/default 
      size: "medium"
    steps:
      - checkout
      - run:
         command: go build -o circleci
         shell: bash --login -eo pipefail
      - store_artifacts:
          path: circleci
          destination: circleci
  test:
    parameters:
      gover: 
        description: The version of the Go compiler to use.
        type: string
      chromever: 
        description: The version of the Chrome browser to use.
        type: string
    docker:
      - image: chromedp/headless-shell:<< parameters.chromever >>
    resource_class: large
    working_directory: /go/src/github.com/mentat/circle-demo-go
    steps:
      - run: apt-get update && apt-get -y install ca-certificates
      - attach_workspace:
          at: /tmp/workspace
      - run: cd /tmp/workspace/<< parameters.gover >> && ./test
  security:
    docker:
      - image: chromedp/headless-shell:latest
    working_directory: /go/src/github.com/mentat/circle-demo-go
    steps:
      - run: apt-get update && apt-get -y install ca-certificates
      - attach_workspace:
          at: /tmp/workspace
      - run: cd /tmp/workspace/<< parameters.gover >> && ./test
  create-eks-deployment:
    executor: aws-eks/python3
    parameters:
      tag:
        description: |
          Tag to use for image.
        type: string
      cluster-name:
        description: |
          Name of the EKS cluster
        type: string
      namespace:
        description: |
          The deployment namespace.
        type: string
    steps:
      - checkout
      - run: sed "s/{{TAG}}/<< parameters.tag >>/g" k8s/deployment-eks.yml > k8s/deployment.yml
      - aws-eks/update-kubeconfig-with-authenticator:
          cluster-name: << parameters.cluster-name >>
          aws-region: "${AWS_REGION}"
          install-kubectl: true
      - when:
          condition: << parameters.namespace >>
          steps:
            - run: kubectl create namespace << parameters.namespace >> || echo "Namespace already exists."
      - kubernetes/create-or-update-resource:
          get-rollout-status: true
          namespace: << parameters.namespace >>
          resource-file-path: k8s/deployment.yml
          resource-name: deployment/demo-app
      - when:
          condition: << parameters.namespace >>
          steps:    
            - run: kubectl -n << parameters.namespace >> get svc
  create-gke-deployment:
    executor: gcp-gcr/default
    parameters:
      tag:
        description: |
          Tag to use for image.
        type: string
      cluster-name:
        description: |
          Name of the GKE cluster
        type: string
      namespace:
        description: |
          The deployment namespace.
        type: string
    steps:
      - checkout
      - run: sed "s/{{TAG}}/<< parameters.tag >>/g" k8s/deployment-gke.yml > k8s/deployment.yml
      - gcp-gcr/gcr-auth
      - gcp-gke/update-kubeconfig-with-credentials:
          cluster: << parameters.cluster-name >>
          install-kubectl: true
      - when:
          condition: << parameters.namespace >>
          steps:
            - run: kubectl create namespace << parameters.namespace >> || echo "Namespace already exists."
      - kubernetes/create-or-update-resource:
          get-rollout-status: true
          namespace: << parameters.namespace >>
          resource-file-path: k8s/deployment.yml
          resource-name: deployment/demo-app
      - when:
          condition: << parameters.namespace >>
          steps:    
            - run: kubectl -n << parameters.namespace >> get svc
  gcr-build-and-push:
    executor: gcp-gcr/default
    parameters:
      tag:
        description: |
          Tag to use for image.
        type: string
    steps:
      - checkout
      - attach_workspace:
          at: /home/circleci/project
      - gcp-gcr/gcr-auth
      - gcp-gcr/build-image:
          image: demo-app
          tag: << parameters.tag >>
          registry-url: gcr.io
      - gcp-gcr/push-image:
          tag: << parameters.tag >>
          image: demo-app
          registry-url: gcr.io
  do-build-and-push:
    executor: docker/docker
    parameters:
      tag:
        description: |
          Tag to use for image.
        type: string
    steps:
      - setup_remote_docker
      - checkout
      - docker/check
      - docker/build:
          image: demo-app
          registry: registry.digitalocean.com/circle-demo-deploy
          tag: << parameters.tag >>
      - digitalocean/install_and_initialize_cli
      - run: doctl registry login
      - docker/push:
          image: demo-app
          registry: registry.digitalocean.com/circle-demo-deploy
          tag: << parameters.tag >>
workflows:
  version: 2
  production_flow:
    jobs:
      - build:
          filters:
            branches:
              only: /^(master|staging)$/
          matrix:
            parameters:
              gover: ["1.11", "1.12", "1.13", "1.14"]
      - test:
          filters:
            branches:
              only: /^(master|staging)$/
          matrix:
            parameters:
              gover: ["1.11", "1.12", "1.13"]
              chromever: ["latest", "83.0.4103.61", "82.0.4085.12"]
          requires:
            - build
      - aws-ecr/build-and-push-image:
          filters:
            branches:
              only: /^(master|staging)$/
          attach-workspace: true
          context: jlCloudSecrets
          repo: "${AWS_RESOURCE_NAME_PREFIX}"
          tag: $CIRCLE_SHA1
          requires:
            - test
      - gcr-build-and-push:
          filters:
            branches:
              only: /^(master|staging)$/
          context: jlCloudSecrets
          tag: $CIRCLE_SHA1
          requires:
            - test
      - do-build-and-push:
          filters:
            branches:
              only: /^(master|staging)$/
          context: jlDigitalOcean
          tag: $CIRCLE_SHA1
          requires:
            - test
      - hold-gke-deployment:
          requires:
            - gcr-build-and-push
          type: approval
      - create-gke-deployment:
          filters:
            branches:
              only: /^(master|staging)$/
          namespace: ""
          tag: $CIRCLE_SHA1
          context: jlCloudSecrets
          cluster-name: demo-cluster
          requires: 
            - hold-gke-deployment
      - hold-eks-deployment:
          requires:
            - aws-ecr/build-and-push-image
          type: approval
      - create-eks-deployment:
          filters:
            branches:
              only: /^(master|staging)$/
          namespace: ""
          tag: $CIRCLE_SHA1
          context: jlCloudSecrets
          cluster-name: jlovelace-demo-k8s
          requires:
            - hold-eks-deployment
  feature_branch_flow:
    jobs:
      - build:
          filters:
            branches:
              ignore: /^(master|staging)$/
          matrix:
            parameters:
              gover: ["1.13"]
      - test:
          filters:
            branches:
              ignore: /^(master|staging)$/
          matrix:
            parameters:
              gover: ["1.13"]
              chromever: ["latest"]
          requires:
            - build
      - aws-ecr/build-and-push-image:
          filters:
            branches:
              ignore: /^(master|staging)$/
          attach-workspace: true
          context: jlCloudSecrets
          repo: "${AWS_RESOURCE_NAME_PREFIX}"
          tag: $CIRCLE_SHA1
          requires:
            - test
      - gcr-build-and-push:
          filters:
            branches:
              ignore: /^(master|staging)$/
          context: jlCloudSecrets
          tag: $CIRCLE_SHA1
          requires:
            - test
      - create-gke-deployment:
          filters:
            branches:
              ignore: /^(master|staging)$/
          context: jlCloudSecrets
          cluster-name: demo-cluster	
          namespace: $CIRCLE_BRANCH
          tag: $CIRCLE_SHA1
          requires: 
            - gcr-build-and-push
      - create-eks-deployment:
          filters:
            branches:
              ignore: /^(master|staging)$/
          namespace: "${CIRCLE_BRANCH}"
          tag: $CIRCLE_SHA1
          context: jlCloudSecrets
          cluster-name: jlovelace-demo-k8s
          requires:
            - aws-ecr/build-and-push-image

